.env
.env.backup
.env.production

/.deploy/env/.env
/.deploy/env/.env.backup
/.deploy/env/.env.production
/.deploy/php/php.ini
/.deploy/php/php.ini.example

/src/fe/node_modules

/src/be/.phpunit.cache
/src/be/node_modules
/src/be/public/build
/src/be/public/hot
/src/be/public/storage
/src/be/storage/*.key
/src/be/vendor
/src/be/.env
/src/be/.env.backup
/src/be/.env.production
/src/be/.phpunit.result.cache
/src/be/Homestead.json
/src/be/Homestead.yaml
/src/be/auth.json
/src/be/npm-debug.log
/src/be/yarn-error.log
/src/be/.fleet
/src/be/.idea
/src/be/.vscode
/src/be/composer.phar

/src-*
